@page "/about"

<h3>About</h3>
<div>
    <p>Brains and Bets is based off of <a href="https://boardgamegeek.com/boardgame/20100/wits-and-wagers">Wits and Wagers.</a></p>
    <p>This implementation was programmed by Carson Hatch</p>
</div>
@code {

}
